<html>
<body>

<div id='MAIN'>

  <section class="Home-Section-Categories">

    <h2>Pronađi uslugu koja ti treba</h2>
    <p>Brzo  •  Lako  • Kvalitetno  • Sigurno</p>
    <div class="Container row">

      <a [routerLink]="['/l1Category', 'Gradjevinski radovi']"  class="col-4 item">
        <span class="Home-Categories-Item-Img" style="background-image: url('assets/images/icons/gradjevinski-radovi.svg')"></span>
        <h4>Građevinski radovi</h4>
        <p></p>
      </a>
      <a [routerLink]="['/l1Category', 'Elektronika']" class="col-4 item">
        <span class="Home-Categories-Item-Img" style="background-image: url('assets/images/icons/elektrika.svg')"></span>
        <h4>Elektronika</h4>
        <p></p>
      </a>
      <a [routerLink]="['/l1Category', 'Odrzavanje']" class="col-4 item">
        <span class="Home-Categories-Item-Img" style="background-image: url('https://www.nadjimajstora.rs/images/categories/odrzavanje.svg')"></span>
        <h4>Održavanje</h4>
        <p></p>
      </a>
      <a [routerLink]="['/l1Category', 'Vodovod i sanitarije']" class="col-4 item">
        <span class="Home-Categories-Item-Img" style="background-image: url('https://www.nadjimajstora.rs/images/categories/cevne-instalacije.svg')"></span>
        <h4>Vodovod i sanitarije</h4>
        <p></p>
      </a>
      <a [routerLink]="['/l1Category', 'Obrada materijala']" class="item col-4">
        <span class="Home-Categories-Item-Img" style="background-image: url('https://www.nadjimajstora.rs/images/categories/obrada-materijala.svg')"></span>
        <h4>Obrada materijala</h4>
        <p></p>
      </a>
      <a [routerLink]="['/l1Category', 'Automobilska industrija']" class="item col-4">
        <span class="Home-Categories-Item-Img" style="background-image: url('https://www.nadjimajstora.rs/images/categories/odrzavanje-vozila.svg')"></span>
        <h4>Održavanje vozila</h4>
        <p></p>
      </a>

    </div>


  </section>
</div>
</body>
</html>
<app-add-service *ngIf="this.axiosService.getAuthToken !== null"></app-add-service>
