<footer class="footer-59391">

  <div class="container">
    <div class="row mb-5">
      <div class="col-md-2 col-xs-12">
        <div class="site-logo">
          <a routerLink="/">Majstor</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-md-right">
        <ul class="list-unstyled social-icons">
          <i class="fa-brands fa-facebook fa-2x cursor-pointer"></i>
          <i class="fa-brands fa-x-twitter fa-2x cursor-pointer"></i>
          <i class="fa-brands fa-instagram fa-2x cursor-pointer"></i>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12 text-md-right">
        <ul class="nav-links list-unstyled nav-right" style="display: flex;justify-content: right">
          <li><a routerLink="/">Početna</a></li>
          <li><a routerLink="/masters">Majstori</a></li>
          <li><a routerLink="blog">Majstorske priče</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <div class="copyright">
          <p><small>Copyright 2024. Sva prava zadržana. Andrej & Nikola</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>
