<nav class="navbar navbar-default navbar-expand-sm" style="padding: 10px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Početna</a>
    </div>

    <div class="collapse navbar-collapse">


      <ul class="nav navbar-nav ms-auto">
        <li>
          <a routerLink="/">
            Majstori
          </a>
          <a routerLink="/blogs">
            Majstorske priče
          </a>
          <a routerLink="contact">
            Kontakt
          </a>
          <a [ngStyle]="{'display':login === true?'inline':'none'}"
             [routerLink]="['/profile', userId]">
            Moj profil
          </a>
          <a [ngStyle]="{'display':isLoggedIn() === true?'none':'inline'}" routerLink="/loginRegister">
            Prijavi se
          </a>
          <a [ngStyle]="{'display':isLoggedIn() === true?'inline':'none'}" (click)="logOut()">
            Odjavi se
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
