<section class="Home-Section-Categories">
  <div class="Container">
    <h2><span>Majstori</span> po delatnostima</h2>
    <p>8 delatnosti  •  86 zanimanja  • 2622 majstora</p>

    <div class="Home-Categories-Container">
      <a href="https://www.nadjimajstora.rs/gradjevinski-radovi.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/gradjevinski-radovi.svg&#39;)"></span>
        <h4>Građevinski radovi</h4>
        <p>488 majstora</p>
      </a>
      <a href="https://www.nadjimajstora.rs/elektrika.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/elektrika.svg&#39;)"></span>
        <h4>Elektrika</h4>
        <p>298 majstora</p>
      </a>
      <a href="https://www.nadjimajstora.rs/odrzavanje.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/odrzavanje.svg&#39;)"></span>
        <h4>Održavanje</h4>
        <p>98 majstora</p>
      </a>
      <a href="https://www.nadjimajstora.rs/cevne-instalacije.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/cevne-instalacije.svg&#39;)"></span>
        <h4>Cevne instalacije</h4>
        <p>115 majstora</p>
      </a>
      <a href="https://www.nadjimajstora.rs/obrada-materijala.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/obrada-materijala.svg&#39;)"></span>
        <h4>Obrada materijala</h4>
        <p>77 majstora</p>
      </a>
      <a href="https://www.nadjimajstora.rs/garderoba-i-nakit.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/garderoba-i-nakit.svg&#39;)"></span>
        <h4>Garderoba i nakit</h4>
        <p>12 majstora</p>
      </a>
      <a href="https://www.nadjimajstora.rs/odrzavanje-vozila.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/odrzavanje-vozila.svg&#39;)"></span>
        <h4>Održavanje vozila</h4>
        <p>34 majstora</p>
      </a>
      <a href="https://www.nadjimajstora.rs/nekategorizovano.htm" class="Home-Categories-Item">
        <span class="Home-Categories-Item-Img" style="background-image: url(&#39;https://www.nadjimajstora.rs/images/categories/nekategorizovano.svg&#39;)"></span>
        <h4>Nekategorizovano</h4>
        <p>20 majstora</p>
      </a>

    </div>

  </div>
</section>
