<div class="container mt-5">
  <!-- Profile Section -->
  <div class="row align-items-center profile-section">
    <!--
    <div class="col-md-2 text-center">
      <img src="assets/profile.jpg" alt="Profile Image" class="img-fluid rounded-circle profile-image">
    </div>
    -->
    <div class="col-md-12">
      <h2 class="profile-name">{{ user ? user['firstName'] : null }} {{ user ? user['lastName']
        : null }}</h2>
      <p class="profile-phone"><i class="fas fa-phone"></i> {{ mobilePhone }}</p>
    </div>
  </div>

  <!-- Average Review Section -->
  <div class="row mt-4 average-review-section">
    <div class="col-md-12">
      <h3>Average Review</h3>
      <div class="star-rating">
        <ng-container *ngFor="let star of stars">
          <i class="fas fa-star"
             [ngClass]="{'text-warning': star <= averageReview, 'text-muted': star > averageReview}"></i>
        </ng-container>
        {{this.averageReview}}
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <div class="row mt-4 comments-section">
    <div class="col-md-12">
      <h3>Comments</h3>
      <ng-container *ngFor="let comment of comments; let i = index">
        <div *ngIf="i < 3" class="comment-box">
          <p>{{ comment.text }}</p> {{ comment.rating}} <i class="fa-solid fa-star"></i>
        </div>
        <div *ngIf="i >= 3" [ngStyle]="{'display':this.readMore === true?'':'none'}"
             class="comment-box">
          <p>{{ comment.text }}</p> {{ comment.rating}} <i class="fa-solid fa-star"></i>
        </div>
      </ng-container>
      <button *ngIf="comments.length > 3 && !readMore" class="btn btn-outline-primary mt-3"
              (click)="readMoreComments(true)">Pročitaj više
      </button>
      <button *ngIf="comments.length > 3 && readMore" class="btn btn-outline-primary mt-3"
              (click)="readMoreComments(false)">Pročitaj manje
      </button>
    </div>
  </div>

  <!-- Services Section -->
  <div class="row mt-4 services-section">
    <h2>Usluge</h2>
      <ul class="list-group">
        <li *ngFor="let item of services" class="list-group-item ">
          <div class="row">

            <div class="col-6 d-flex align-items-center justify-content-center">
              <i
                class="fa-solid fa-arrow-left fa-2x cursor-pointer"
                (click)="imageClick(item['id'], -1)"
              ></i>
              <img *ngFor="let image of serviceImageMap.get(item['id']); let i = index"
                   [src]="image"
                   [ngStyle]="{display: serviceActiveSlideMap.get(item['id'])[i] === true ? 'inline' : 'none'}">

              <i
                class="fa-solid fa-arrow-right fa-2x cursor-pointer"
                (click)="imageClick(item['id'], 1)"
              ></i>
            </div>

            <div class="col-4 d-flex">
              {{item.description}}
            </div>

            <div class="col-2 d-flex">
              {{item.user['firstName']}} {{item.user['lastName']}}
            </div>
          </div>

        </li>
      </ul>
    </div>
</div>
