<div class="container mt-5">
  <!-- Profile Section -->
  <div class="row align-items-center profile-section">
    <div class="col-md-12">
      <h2 class="profile-name">{{ user ? user['firstName'] : null }} {{ user ? user['lastName']
        : null }}</h2>
      <p class="profile-phone"><i class="fas fa-phone"></i> {{ mobilePhone }}</p>
    </div>
  </div>

  <!-- Average Review Section -->
  <div class="row mt-4 average-review-section">
    <div class="col-md-12">
      <h3>Average Review</h3>
      <div class="star-rating">
        <ng-container *ngFor="let star of stars">
          <i class="fas fa-star"
             [ngClass]="{'text-warning': star <= averageReview, 'text-muted': star > averageReview}"></i>
        </ng-container>
        {{this.averageReview}}
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <div class="row mt-4 comments-section">
    <div class="col-md-12">
      <h3>Comments</h3>
      <ng-container *ngFor="let comment of comments; let i = index">
        <div *ngIf="i < 3" class="comment-box">
          <p>{{ comment.text }}</p> {{ comment.rating}} <i class="fa-solid fa-star"></i>
        </div>
        <div *ngIf="i >= 3" [ngStyle]="{'display':this.readMore === true?'':'none'}"
             class="comment-box">
          <p>{{ comment.text }}</p> {{ comment.rating}} <i class="fa-solid fa-star"></i>
        </div>
      </ng-container>
      <button *ngIf="comments.length > 3 && !readMore" class="btn btn-outline-primary mt-3"
              (click)="readMoreComments(true)">Pročitaj više
      </button>
      <button *ngIf="comments.length > 3 && readMore" class="btn btn-outline-primary mt-3"
              (click)="readMoreComments(false)">Pročitaj manje
      </button>
    </div>
  </div>

  <!-- Services Section -->
  <div class="row mt-4 services-section">
    <h2>Usluge</h2>
    <ul class="list-group">
      <li *ngFor="let item of services; let i = index" class="list-group-item ">
        <div *ngIf="i < 3 || this.readMoreServiceFlag" class="row align-items-center no-gutters">
          <!-- Left Arrow -->
          <div class="col-auto d-flex justify-content-center">
            <i
              class="fa-solid fa-arrow-left fa-2x cursor-pointer"
              (click)="imageClick(item['id'], -1)"
            ></i>
          </div>

          <!-- Image Container -->
          <div class="col-5 d-flex justify-content-center align-items-center"
               style="height: 300px;">
            <img
              *ngFor="let image of serviceImageMap.get(item['id']); let i = index"
              [src]="image"
              [ngStyle]="{
        display: serviceActiveSlideMap.get(item['id'])[i] === true ? 'block' : 'none'}"
              class="img-fluid">
          </div>

          <!-- Right Arrow -->
          <div class="col-auto d-flex justify-content-center">
            <i
              class="fa-solid fa-arrow-right fa-2x cursor-pointer"
              (click)="imageClick(item['id'], 1)"
            ></i>
          </div>

          <!-- Description -->
          <div class="col-3 d-flex align-items-center justify-content-center">
            {{item.description}}
          </div>

          <!-- Contact Info -->
          <div class="col-2 d-flex contact">
            <div class="row d-flex flex-column justify-content-center h-100">
              <div class="col-12 text-center">
                <i class="fa-solid fa-person"></i>
                {{item.user['firstName']}} {{item.user['lastName']}}
              </div>
              <div class="col-12 text-center">
                <i class="fa fa-phone"></i>{{item.user['phone']}}
              </div>
              <div class="col-12 text-center">
                <i class="fa fa-map-marker"></i>{{item.user['location']}}
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button *ngIf="services.length > 3 && !readMoreServiceFlag" class="btn btn-outline-primary mt-3"
            (click)="readMoreService(true)">Pročitaj više
    </button>
    <button *ngIf="services.length > 3 && readMoreServiceFlag" class="btn btn-outline-primary mt-3"
            (click)="readMoreService(false)">Pročitaj manje
    </button>
  </div>
</div>
<app-add-review
  [userId]="userId" class="row mt-4 services-section"></app-add-review>
<app-add-service style="margin-top: 60px"></app-add-service>
