<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9 align-self-center text-center">
        <h1 class="title">MAJSTORSKA PRIČA</h1>
        <h5 class="subtitle">
          Naučite nešto korisno od pravih profesionalaca
        </h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <a
          class="linking font-medium text-themecolor m-t-10 cursor-pointer"
          routerLink="/blogs"
        >
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          <span> Blogovi</span>
        </a>
        <hr />
        <div class="row align-items-center no-gutters">
          <div class="col-auto d-flex justify-content-center">
            <i
              class="fa-solid fa-arrow-left fa-2x cursor-pointer"
              (click)="imageClick(-1)"
            ></i>
          </div>

          <div
            class="col-10 d-flex justify-content-center align-items-center"
            style="height: 300px;"
          >

                <img
                  *ngFor="let im of images; let i = index"
                  [ngStyle]="{
              display: activeSlide[i] === true ? 'inline' : 'none'}"
                  class="img-fluid"
                  [src]="im.imageData"
                  alt="Slide Image"
                  style="height: 300px; width: auto; max-width: 650px"
                />

          </div>

          <div class="col-auto d-flex justify-content-center">
            <i
              class="fa-solid fa-arrow-right fa-2x cursor-pointer"
              (click)="imageClick(1)"
            ></i>
          </div>
        </div>

        <hr />
        <div class="d-flex justify-content-between align-items-center m-t-40">
          <h1 class="title" style="color: #2c7987;">{{ blogDetail ? blogDetail['heading'] : null}}</h1>
          <div class="d-flex flex-column text-right">
            <a>{{ author }}</a>
            <a>{{ blogDetail ? blogDetail['createdAt'] : null}}</a>
          </div>
        </div>
        <h3 class="m-t-30 m-b-30"><i>{{ blogDetail ? blogDetail['subHeading'] : null}}</i></h3>
        <p class="m-t-30 m-b-30">{{ blogDetail ? blogDetail['details'] : null}}</p>

        <hr />
        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3 share-item">
            <i class="fa-brands fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded share-item">
            <i class="fa-brands fa-x-twitter"></i> Twitter
          </button>
          <button type="button" class="btn bg-twitter btn-rounded share-item" *ngIf="isAdmin">
            <i
              class="fa-solid fa-trash cursor-pointer"
              (click)="delete()"
            ></i> Delete
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
